In [1]:
import pandas as pd
import numpy as np

In [12]:
from_npi = pd.read_csv('data/from_npi_clean.csv')
from_npi.head(3)

,prov_lastname,prov_firstname,prov_credential,prov_address1,grouping,classification,specialization,from_npi,to_npi,patient_count,transaction_count
0,NYLANDER,BARBARA,M.D.,345 23RD AVE N,Allopathic & Osteopathic Physicians,Obstetrics & Gynecology,Gynecology,1003819046,1023055126,11,11
1,NYLANDER,BARBARA,M.D.,345 23RD AVE N,Allopathic & Osteopathic Physicians,Obstetrics & Gynecology,Gynecology,1003819046,1093741464,12,12
2,PERRIGIN,JULIE,MD,219 CHURCH ST,Allopathic & Osteopathic Physicians,Family Medicine,NaN,1750384780,1003863580,256,480

In [13]:
to_npi = pd.read_csv('data/to_npi_clean.csv')
to_npi.head()

,npi,org_name,prov_address1,grouping,classification,specialization,from_npi,to_npi,patient_count,transaction_count,average_day_wait
0,1245233220,"NORTHRIDGE SURGERY CENTER, LP",647 MYATT DR,Ambulatory Health Care Facilities,Clinic/Center,Ambulatory Surgical,1023055126,1245233220,28,30,96.967
1,1245233220,"NORTHRIDGE SURGERY CENTER, LP",647 MYATT DR,Ambulatory Health Care Facilities,Clinic/Center,Ambulatory Surgical,1003910688,1245233220,24,24,122.125
2,1245233220,"NORTHRIDGE SURGERY CENTER, LP",647 MYATT DR,Ambulatory Health Care Facilities,Clinic/Center,Ambulatory Surgical,1003863580,1245233220,79,82,82.159
3,1245233220,"NORTHRIDGE SURGERY CENTER, LP",647 MYATT DR,Ambulatory Health Care Facilities,Clinic/Center,Ambulatory Surgical,1043297542,1245233220,45,46,65.696
4,1245233220,"NORTHRIDGE SURGERY CENTER, LP",647 MYATT DR,Ambulatory Health Care Facilities,Clinic/Center,Ambulatory Surgical,1083608459,1245233220,24,37,23.622

In [14]:
from_npi.dtypes

prov_lastname        object
prov_firstname       object
prov_credential      object
prov_address1        object
grouping             object
classification       object
specialization       object
from_npi              int64
to_npi                int64
patient_count         int64
transaction_count     int64
dtype: object

In [15]:
#from_npi = from_npi['from_npi', 'to_npi', 'patient_count', 'transaction_count'].astype(np.int32)

In [21]:
merge = from_npi.merge(to_npi, on = ['from_npi', 'to_npi', 'patient_count', 'transaction_count'], suffixes = ['_from', '_to'])

In [22]:
merge.head()

,prov_lastname,prov_firstname,prov_credential,prov_address1_from,grouping_from,classification_from,specialization_from,from_npi,to_npi,patient_count,transaction_count,npi,org_name,prov_address1_to,grouping_to,classification_to,specialization_to,average_day_wait
0,NYLANDER,BARBARA,M.D.,345 23RD AVE N,Allopathic & Osteopathic Physicians,Obstetrics & Gynecology,Gynecology,1003819046,1023055126,11,11,1023055126,"HCA HEALTH SERVICES OF TENNESSEE, INC.",2300 PATTERSON ST,Hospitals,General Acute Care Hospital,NaN,13.182
1,NYLANDER,BARBARA,M.D.,345 23RD AVE N,Allopathic & Osteopathic Physicians,Obstetrics & Gynecology,Gynecology,1003819046,1093741464,12,12,1093741464,"ADVANCED DIAGNOSTIC IMAGING, PC",3024 BUSINESS PARK CIR,NaN,NaN,NaN,34.083
2,PERRIGIN,JULIE,MD,219 CHURCH ST,Allopathic & Osteopathic Physicians,Family Medicine,NaN,1750384780,1003863580,256,480,1003863580,"ASSOCIATED PATHOLOGISTS, LLC",5301 VIRGINIA WAY STE 300,Allopathic & Osteopathic Physicians,Pathology,Anatomic Pathology & Clinical Pathology,55.685
3,PERRIGIN,JULIE,MD,219 CHURCH ST,Allopathic & Osteopathic Physicians,Family Medicine,NaN,1750384780,1013175215,29,77,1013175215,"LHC HOMECARE OF TENNESSEE, LLC",2525 PERIMETER PLACE,Agencies,Home Health,NaN,0.026
4,PERRIGIN,JULIE,MD,219 CHURCH ST,Allopathic & Osteopathic Physicians,Family Medicine,NaN,1750384780,1023055126,48,63,1023055126,"HCA HEALTH SERVICES OF TENNESSEE, INC.",2300 PATTERSON ST,Hospitals,General Acute Care Hospital,NaN,36.921

In [23]:
merge.shape

(232215, 18)